jsonschema==4.19.0       # Required for JSON handling
kiteconnect==3.9.0       # Zerodha KiteConnect SDK
six==1.16.0              # For Python 2 and 3 compatibility
requests==2.31.0         # HTTP requests handling
pandas==2.0.3            # Data manipulation and analysis
TA-Lib                   # Technical analysis library
numpy                    # Numerical computations
